# Fichiers système Mac
.DS_Store

# Fichiers de configuration IntelliJ (Projet et Modules)
.idea/
*.iml
*.iws
*.ipr

# Dossiers de compilation (générés par Java)
out/
target/
build/
cmake-build-*/

# Autres IDE (au cas où)
.vscode/
.classpath
.project
.settings/
